body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 1px 4px;
    padding: 0px 530px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #1F2833;
}

ul :hover {
    /* list-style-type: none;
    display: flex;
    margin: 1px 4px;
    padding: 0px 530px;
    font-size: 1.2rem; */
    color: yellow;
    border-color: yellow;
}

li a {
    padding: 10px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    /* padding: 0px 20px; */
    color: yellow;
    border-color: yellow;
}

header {
    background-color: #0B0C10;
    color: #F4F4F4;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.colors {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
    justify-content: center;
    /* Add this property */
    align-items: center;
    /* Add this property */
    text-align: center;
}


h2 {
    margin-top: 0;
    margin-bottom: 20px;
}


.color {
    margin: 10px;
}

.color-box {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    /* transition: all 0.3s ease; */
    box-shadow: 2px 2px 5px rgba(0.59, 0.50, 0.99, 0.1);
    /* Add this property */
}

.color-box:hover {
    /* border: 0.7px solid #333; */
    /* transform: scale(1.1);    */
    box-shadow: 3px 3px 8px rgba(1, 1, 1.10, 0.2);
    /* Add this property */
}


footer {
    background-color: #1F2833;
    color: #F4F4F4;
    padding: 8px;
    text-align: center;
}

/* Default styles for all screens */
body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}